---
Language: Cpp
BasedOnStyle: Chromium

AccessModifierOffset: -2
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
ColumnLimit: 120
IndentWidth: 4
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PenaltyBreakAssignment: 1000
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakOpenParenthesis: 1000
...
