[submodule "tomlplusplus"]
	path = tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
